#content {
  font: 0px arial;

  border: 1px solid black;
}

.r-hidden {
  display: inline-block;

  font-size: 20px;

  width: 0;
  height: 0;

  overflow: hidden;
}

.cursor {
  display: inline-block;
  position: absolute;
  border-left: 1px solid green;
}

.r-bold {
  font-size: 20px;
}

.rect {
  display: inline-block;

  position: absolute;

  border: 1px solid red;
}
